@use '../../styles/mixins' as *;

.rating {
  --star-filled: #{$color-primary};
  --star-empty: #{$color-border};
  --star-size: 30px;
  --star-gap: 6px;

  align-items: center;
  display: flex;
  gap: var(--star-gap);

  @include tablet {
    --star-size: 24px;
    --star-gap: 4px;
  }

  @include mobile {
    --star-size: 20px;
    --star-gap: 3px;
  }

  .star {
    height: var(--star-size);
    stroke: none;
    width: var(--star-size);

    &.filled {
      fill: var(--star-filled);
    }

    &.empty {
      fill: var(--star-empty);
    }
  }
}
