.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.error-title {
  font-size: clamp(3rem, 15vw, 100px);
  font-weight: 700;
  color: #ff6060;
  display: flex;
}

.error-message {
  font-size: clamp(1rem, 3vw, 24px);
  font-weight: 500;
  color: #ff6060;
  display: flex;
}

.error-link {
  color: #ff6060;
  text-decoration: underline;
  margin-top: 20px;
  font-size: clamp(0.875rem, 2.5vw, 18px);
  font-weight: 500;
}
